.persona__funcion{
    color: #9b9c9c;
    font-size: 1 rem;
    text-transform:initial;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}